# <center>Data Mining project: Discover and describe areas of interest<br> and events from geo-located data</center>

## #1: Import Dataset and Libraries

## Environment

In [66]:
! python -m venv dataMiningEnv
#Activate windows
! dataMiningEnv\Scripts\activate.bat

Actual environment location may have moved due to redirects, links or junctions.
  Requested location: "h:\IF4\fouilleD\projet\dataMiningEnv\Scripts\python.exe"
  Actual location:    "\\ps-home.insa-lyon.fr\users\home\dlarrazmar\IF4\fouilleD\projet\dataMiningEnv\Scripts\python.exe"

## Libraries

In [67]:
# installation of required libraries and dependencies
# numeric calculations
! pip install numpy==1.26.0 
# data frames 
! pip install pandas==2.1.1 
# machine learning algorithms 
! pip install scikit-learn==1.5.1 
! pip install scipy==1.12.0
# plotting 
! pip install plotly==5.24.1 
! pip install matplotlib==3.8.0 
! pip install seaborn==0.13.2 
! pip install plotly-express==0.4.1 
! pip install chart-studio==1.1.0 
# web app library 
! pip install streamlit==1.37.1 
# association rules
! pip install mlxtend==0.23.3
# Language processing
! pip install nltk
! python -m nltk.downloader popular # popular functions

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy==1.26.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (1.26.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas==2.1.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas==2.1.1) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas==2.1.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas==2.1.1) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas==2.1.1) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas==2.1.1) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn==1.5.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1) (1.26.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1) (3.5.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy==1.12.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from scipy==1.12.0) (1.26.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly==5.24.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly==5.24.1) (8.5.0)
Requirement already satisfied: packaging in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly==5.24.1) (24.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib==3.8.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (4.55.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (1.4.7)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (1.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (24.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib==3.8.0) (6.5.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib==3.8.0) (3.21.0)
Requirement already satisfied: six>=1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib==3.8.0) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn==0.13.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from seaborn==0.13.2) (1.26.0)
Requirement already satisfied: pandas>=1.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from seaborn==0.13.2) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from seaborn==0.13.2) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (4.55.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (24.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (6.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas>=1.2->seaborn==0.13.2) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas>=1.2->seaborn==0.13.2) (2024.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (3.21.0)
Requirement already satisfied: six>=1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly-express==0.4.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (2.1.1)
Requirement already satisfied: plotly>=4.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (5.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (0.14.4)
Requirement already satisfied: scipy>=0.18 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (1.12.0)
Requirement already satisfied: patsy>=0.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (1.0.1)
Requirement already satisfied: numpy>=1.11 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly-express==0.4.1) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas>=0.20.0->plotly-express==0.4.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas>=0.20.0->plotly-express==0.4.1) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas>=0.20.0->plotly-express==0.4.1) (2024.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly>=4.1.0->plotly-express==0.4.1) (8.5.0)
Requirement already satisfied: packaging in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly>=4.1.0->plotly-express==0.4.1) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->plotly-express==0.4.1) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chart-studio==1.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (1.1.0)
Requirement already satisfied: plotly in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from chart-studio==1.1.0) (5.24.1)
Requirement already satisfied: requests in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from chart-studio==1.1.0) (2.32.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from chart-studio==1.1.0) (1.3.4)
Requirement already satisfied: six in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from chart-studio==1.1.0) (1.17.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly->chart-studio==1.1.0) (8.5.0)
Requirement already satisfied: packaging in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from plotly->chart-studio==1.1.0) (24.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests->chart-studio==1.1.0) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests->chart-studio==1.1.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests->chart-studio==1.1.0) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests->chart-studio==1.1.0) (2024.12.14)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: streamlit==1.37.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (1.37.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (8.1.8)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (1.26.0)
Requirement already satisfied: packaging<25,>=20 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (24.2)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (2.1.1)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (5.29.2)
Requirement already satisfied: pyarrow>=7.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (13.9.4)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (6.4.2)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from streamlit==1.37.1) (4.0.2)
Requirement already satisfied: jinja2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from altair<6,>=4.0->streamlit==1.37.1) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from altair<6,>=4.0->streamlit==1.37.1) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from altair<6,>=4.0->streamlit==1.37.1) (1.20.1)
Requirement already satisfied: colorama in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from click<9,>=7.0->streamlit==1.37.1) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.37.1) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas<3,>=1.3.0->streamlit==1.37.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas<3,>=1.3.0->streamlit==1.37.1) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from pandas<3,>=1.3.0->streamlit==1.37.1) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests<3,>=2.27->streamlit==1.37.1) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests<3,>=2.27->streamlit==1.37.1) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests<3,>=2.27->streamlit==1.37.1) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from requests<3,>=2.27->streamlit==1.37.1) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from rich<14,>=10.14.0->streamlit==1.37.1) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from rich<14,>=10.14.0->streamlit==1.37.1) (2.19.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.37.1) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from jinja2->altair<6,>=4.0->streamlit==1.37.1) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.37.1) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.37.1) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.37.1) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.37.1) (0.22.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit==1.37.1) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit==1.37.1) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend==0.23.3 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (1.12.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (1.26.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (2.1.1)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from mlxtend==0.23.3) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dlarrazmar\appdata\roaming\python\python39\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.3) (1.3.0)

In [109]:
import pandas as pd
#import nltk

## Data

In [72]:
# load data from table file where entries are separated with a space
data = pd.read_table("data/flickr_data2.csv", sep="," )
# show first 5 rows of the dataframe
data.head()

C:\Users\dlarrazmar\AppData\Local\Temp\ipykernel_11016\3294269401.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_table("data/flickr_data2.csv", sep=",")

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN

In [136]:
# Charger les données avec `low_memory=False` pour éviter les avertissements
data = pd.read_csv("data/flickr_data2.csv", sep=",", low_memory=False)

# Supprimer les espaces supplémentaires dans les noms des colonnes
data.columns = data.columns.str.strip()

# Convertir les colonnes contenant des types mixtes (object) en numériques
# Liste des colonnes de type temps
time_columns = [
    'date_taken_minute', 'date_taken_hour', 'date_taken_day',
    'date_taken_month', 'date_taken_year',
    'date_upload_minute', 'date_upload_hour', 'date_upload_day',
    'date_upload_month', 'date_upload_year'
]

# Convertir chaque colonne en int64
for col in time_columns:
    data[col] = pd.to_numeric(data[col], errors='coerce').fillna(0).astype('int64')


data.head(10)

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11,15,28,2,2010,23,20,28,2,2010,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51,17,28,2,2010,52,17,28,2,2010,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29,17,28,2,2010,33,17,28,2,2010,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15,20,28,1,2010,38,12,28,2,2010,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10,20,28,1,2010,38,12,28,2,2010,NaN,NaN,NaN
5,4394566432,16197488@N06,45.755940,4.833158,"poste,lyon,streetphotography,rue,gens",NaN,57,12,27,2,2010,1,10,28,2,2010,NaN,NaN,NaN
6,4393799139,16197488@N06,45.754289,4.832257,"lyon,streetphotography,rue,gens",NaN,8,11,27,2,2010,1,10,28,2,2010,NaN,NaN,NaN
7,4394565970,16197488@N06,45.774662,4.834005,"lyon,streetphotography,rue,montblanc,gens,mont...",NaN,23,10,27,2,2010,0,10,28,2,2010,NaN,NaN,NaN
8,4392370105,47924539@N05,45.762328,4.827547,"france,lyon,lesphotosdevoyage",Courette Lyonnaise,29,12,27,2,2010,29,21,27,2,2010,NaN,NaN,NaN
9,4392367159,47924539@N05,45.762059,4.822654,"france,lyon,fourvière,lesphotosdevoyage",Fourvière,28,12,27,2,2010,28,21,27,2,2010,NaN,NaN,NaN

## #2: Exploratory Data Analysis (Cleaning)

In [129]:
def parse_conclusion(pre_data, parsed_data):
    l = len(pre_data)-len(parsed_data)
    print(f"<Lines parsed: {l} - {round(100*l/len(data),3)}% of original data>")

## Duplicates

In [ ]:
# Save parsed lines
data[data['id'].duplicated(keep='first')].sort_values("id").to_csv("data/parsed_lines/duplicatedId.csv", index = False)

# Parse
unduplicated_id_data = data[~data['id'].duplicated(keep='first')]
parse_conclusion(data, unduplicated_id_data)

<Lines parsed: 252143 - 60.0% of original data>

## Corrupted Data and Shifted columns due to ";" in title
Examples:
- https://flickr.com/photos/29713277@N02/6674970791
- https://flickr.com/photos/53987060@N02/33105832478

The first one clearly shows that if the title contains ";", the data inside of the csv is shuffled.<br>
The second example has a sneaky ";" within the smily face at the end of the title.

In [ ]:
# Save parsed lines
corrupted_data = unduplicated_id_data[unduplicated_id_data["Unnamed: 16"].notnull() | unduplicated_id_data["Unnamed: 17"].notnull() | unduplicated_id_data["Unnamed: 18"].notnull()]
corrupted_data.to_csv("data/parsed_lines/corrupted_data.csv", index = False)

# Parse
uncorrupted_data = unduplicated_id_data[~(unduplicated_id_data["Unnamed: 16"].notnull() | unduplicated_id_data["Unnamed: 17"].notnull() | unduplicated_id_data["Unnamed: 18"].notnull())]

# Drop colums 16, 17, 18
uncorrupted_data = uncorrupted_data.drop(columns=["Unnamed: 16", "Unnamed: 17", "Unnamed: 18"])
uncorrupted_data.head(10)

parse_conclusion(unduplicated_id_data, uncorrupted_data)

<Lines parsed: 47 - 0.011% of original data>

C:\Users\dlarrazmar\AppData\Local\Temp\ipykernel_11016\3587839137.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncorrupted_data.drop(columns=["Unnamed: 16", "Unnamed: 17", "Unnamed: 18"], inplace=True)

## Same user, space and approximated time => many captures taken on site

In [140]:
# Save parsed lines

# Parse
display(uncorrupted_data[uncorrupted_data[['user', 'lat', 'long', 'date_taken_day', 'date_taken_month', 'date_taken_year']].duplicated(keep='first')].sort_values("id"))
#.to_csv("data/parsed_lines/duplicatedId.csv", index = False)
#parsed_data = data[~data['id'].duplicated(keep='first')]
#print(f"Size of Data pre-parsed: {len(parsed_data)} - Size of Data {len(parsed_data)}")

In [104]:
# method 2: using isna() 
data.isna().sum()

id                         0
user                       0
lat                        0
long                       0
tags                       0
title                      0
date_taken_minute          1
date_taken_hour            0
date_taken_day             0
date_taken_month           0
date_taken_year            0
date_upload_minute         0
date_upload_hour           0
date_upload_day            2
date_upload_month          0
date_upload_year           1
Unnamed: 16           420098
Unnamed: 17           420240
Unnamed: 18           420238
dtype: int64

Again, we can see that there is no missing values in the DataFrame.

In [105]:
# method 3: get the rwos with missing values
data[data.isna().any(axis=1)]

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,,Untitled,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420235,44402328654,90493526@N00,45.758316,4.825197,"europe,france,lyon,croixrousse,streetart,wheat...","Pasted paper by Big Ben [Lyon, France]",18.0,17,30,9,2018,11,23,5.0,10,2018.0,NaN,NaN,NaN
420236,44210748275,144146684@N04,45.762635,4.837299,,white blood,36.0,16,5,10,2018,41,22,5.0,10,2018.0,NaN,NaN,NaN
420237,45122361361,95450872@N03,45.763657,4.836012,"auvergnerhônealpes,rhône,lyonnais,valléedurhôn...",Lyon - Porte Passage de l'Argue,48.0,19,27,9,2018,40,22,5.0,10,2018.0,NaN,NaN,NaN
420238,45073351222,95450872@N03,45.763657,4.836012,"auvergnerhônealpes,rhône,lyonnais,valléedurhôn...",Lyon - Passage de l'Argue,48.0,19,27,9,2018,29,22,5.0,10,2018.0,NaN,NaN,NaN
420239,45122093111,61949122@N06,45.758181,4.831967,"ngc,lyon,paysage,landscape,ville,urbain,town,tour",Une tour peut en cacher une autre,15.0,14,28,9,2018,21,22,5.0,10,2018.0,NaN,NaN,NaN

The return DataFrame is empty.

To **remove** the rows with missing values, you can use the [`dropna()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) method. Check the parameters for more details.

*Tip*: keep a track of the number of rows in the initial DataFrame and during and after the cleaning:
```
print(f"Before: {len(df)}")
df_cleaned = df.dropna()
print(f"After: {len(df_cleaned)}")
```

In [106]:
print(f"Initial: {len(data)}")
data_cleaned = data.dropna()
print(f"After removing missing values: {len(data_cleaned)}")

Initial: 420240
After removing missing values: 0

<a id="duplicates"></a>
### Duplicates

To check duplicated values, you can use the [`duplicated()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html) method. You can specify the paramater `keep` (`'first'`, `'last'`, `False`) to determine which duplicates (if any) to be maked as `True` in the resulting boolean Series indicating duplicate rows.

In [107]:
# check the duplicates
data_cleaned.duplicated()

Series([], dtype: bool)

In [108]:
# check the duplicates of the class column and keep the last occurence
data_cleaned['class'].duplicated(keep='last')

KeyError: 'class'

In [ ]:
# another option using subset parameter
data_cleaned.duplicated(subset=['class'], keep='last')

In [ ]:
# count the number of duplicates
data_cleaned.duplicated().sum()

We can see that there is one case of duplicates. Let's check the corresponding rows. We set the parameter `keep=False` to display all rows and not just the second occurence:

In [ ]:
data_cleaned[data_cleaned.duplicated(keep=False)]

We can keep these rows or we can drop them (or any of them) using [`drop_duplicates`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html). Let's keep the first occurrence.

In [ ]:
# remove duplicates
data_cleaned = data_cleaned.drop_duplicates(keep='first')
# show the stats
print(f"Initial: {len(data)}")
print(f"After removing duplicates: {len(data_cleaned)}")

Save the cleaned DataFrame to `data/processed/data_cleaned.csv`.

In [ ]:
# save to file
data_cleaned.to_csv('../data/processed/data_cleaned.csv')

<a id='desc-stats'></a>
### Descriptive Statistics

To obtain the statistical summary of the dataframe, we can use [`describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html). For different columns, it displays the count, the average value, the standard deviation, the min and max values, percentiles. 
By default, in mixed data types DataFrames, it displays the values for quantative data only:

In [ ]:
# summarised statistics
data_cleaned.describe()

In [ ]:
# summarised statistics with object data
data_cleaned.describe(include='all')

Based on the range of values of the quantative attributes, we can see that their scales are comparable. So there is no need to scale them for futher use in algorithms.

To obtain the number of values for `class` column, we can use [`value_counts()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html):

In [ ]:
print(data_cleaned['class'].value_counts())

**QUESTIONS**

* Select the samples with the largest `sepal length`. Which type of iris flower it belongs to?

In [ ]:
# ANSWERS
data_cleaned[data_cleaned["sepal length"] == data_cleaned["sepal length"].max()]["class"]

<a id='data-vis'></a>
### Data Visualisation

* [Pairplot](#pairplot)
* [Correlation analysis](#correlation)
* [Class-wise boxplot](#boxplot)
* [Scatter plot with PCA](#pca)

<a id='pairplot'></a>
#### Pairplot

**QUESTIONS:**

- Let's start by plotting a pairplot using [`seaborn.paiplot()`](https://seaborn.pydata.org/generated/seaborn.pairplot.html).

In [ ]:
# ANSWER
# select columns to plot
cols = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
# Plot the pairplot
sns.pairplot(data_cleaned)

From this plot, we can observe the following:
* there is a strong positive linear relationship between `petal width` and `petal length`
* we can observe two distinct groups, see `sepal length` vs. `petal length` for example or `petal length` vs. `petal width`. This can already give us an initial idea about a potential number of clusters and which features may influence more the separation.

We can make use of the `class` column to have a look on the data through the class labels. We will assign colors based on the value of `class`. To do so, we will assign the value to `hue` parameter. Mind that by default, the diagonal elements will disply a layered kernel density estimate (KDE). To change that, you can assign value to the `diag_kind` parameter.

In [ ]:
# Plot the pairplot
fig = plt.figure(figsize = (20,20))
# pair plot
g = sns.pairplot(data=data_cleaned[cols], hue='class', diag_kind='hist')
# add a title to the figure
g.figure.suptitle('Pairplot', y=1.04)
# Remove the default legend
g._legend.remove() 
# Add new legend
g.add_legend(loc='upper right')
# Adjust the layout to prevent title overlap
plt.tight_layout()

When using colors, we can see that a groups that stands apart corresponds to `Iris-setosa`. We can also observe that some values of `Iris-versicolor` and `Iris-virginica` are similar. This implied that a separation of the entries of these two classes might be difficult.

**Note**: in this use case, there are true class labels which is not usually the case.

<a id='correlation'></a>
#### Correlation Analysis

**QUESTION**

* Plot the correlation matrix and comment on the result.

*Hint*: to calculate correlations, use the [`corr()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) method of a DataFrame.

In [ ]:
features = ['sepal length', 'sepal width', 'petal length', 'petal width']
# ANSWER
corr = data_cleaned[features].corr()
print(corr)

YOUR COMMENT: TO COMPLETE

We can visualise this correlation matrix using a heatmap:

In [ ]:
# Create heatmap
sns.heatmap(
        corr,
        annot=True,  # Show correlation values
        cmap='coolwarm',  # Color scheme: red for positive, blue for negative
        vmin=-1, vmax=1,  # Fix scale between -1 and 1
        center=0,  # Center colormap at 0
        fmt='.2f'  # Format correlation values to 2 decimal places
    )

<a id='boxplot'></a>
#### Class-wise Boxplot

Let's display boxplots of each feature using [`seaborn.boxplot()`](https://seaborn.pydata.org/generated/seaborn.boxplot.html#seaborn.boxplot).

In [ ]:
fig, axes = plt.subplots(4, 1, figsize=(8, 16))
fig.suptitle('Iris Features Distribution by Class')

for ax, feature in zip(axes, features):
    sns.boxplot(data=data_cleaned, x='class', y=feature, ax=ax, hue='class')
    ax.set_title(feature)

plt.tight_layout()

**QUESTION:**

* Comment

YOUR COMMENT: TO COMPLETE

<a id='pca'></a>
#### Scatter Plot with PCA

As there are four attributes that make it hard to visualise the whole dataset in one plot, we may want to use [*Principal Component Analysis* (PCA)](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html).

In [ ]:
# principal compomemt analysis
from sklearn.decomposition import PCA

In [ ]:
# create PCA model with 2 components
pca = PCA(n_components=2)
# apply PCA to numerical data
pca_result = pca.fit_transform(data_cleaned[features])

NameError: name 'PCA' is not defined

**QUESTIONS**

* Create a DataFrame `pca_df` containing the result of PCA. This DataFrame should contain 2 columns: `PC1` and `PC2`
* Create a new DataFrame `data_cleaned_pca` by contactenating `data_cleaned` and `pca_df`. Mind that the index of `data_cleaned` has been modified during the cleaning step. Reset the index before concatenation.

In [ ]:
data_cleaned= data_cleaned.reset_index()

In [ ]:
# ANSWER
data_cleaned = data_cleaned.drop(["index"], axis= 1)
pca_df = pd.DataFrame(pca_result, columns=["PC1", "PC2"])
data_cleaned_pca = data_cleaned.join(pca_df)
print(data_cleaned_pca)

In [ ]:
! python -m pip install --upgrade pip
! pip install nbformat

In [ ]:
# create interactive plots
import plotly.express as px

In [ ]:
# Create interactive scatter plot
fig = px.scatter(
        data_cleaned_pca,
        x='PC1',
        y='PC2',
        color='class',
        title='PCA visualization of all flowers'
)
# Add variance explained
var_explained = pca.explained_variance_ratio_
fig.update_layout(
        xaxis_title=f"PC1 ({var_explained[0]:.1%} variance explained)",
        yaxis_title=f"PC2 ({var_explained[1]:.1%} variance explained)"
)
fig.show()

To check the contributions of each feature to principal components, let's see the loadings. Loadings are given by `eigenvectors * sqrt(explained variance)` (Eigenvectors are unit-scaled loadings. They show direction of maximum variance). Basically, loadings are the correlations between variables and components.

In [ ]:
# numeric calculations
import numpy as np

**QUESTIONS**

* Calculate PCA `loadings`
* Create a DataFrame for them. Display this DataFrame
* Comment on the results

In [ ]:
# ANSWER
loadings = pca.components_.T*np.sqrt(pca.explained_variance_)

loadings_df = pd.DataFrame(loadings, index=features, columns=["PC1", "PC2"])
print(loadings_df)

YOUR COMMENT: TO COMPLETE

## Task #3: Prepare Data for Clustering

We are going to create clusters without the use of `class` attribute. So let's drop this column.

**QUESTIONS**

* Create a DataFrame `df_clustering` by droping the column `class`

In [ ]:
# ANSWER

df_clustering = data_cleaned.drop(columns=["class"])

Even though in our case the attributes have comparable scales, let's apply a [`StandardScaler`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html). Recall, that for a given value `x`, a standard score is given by $z = \frac{x - mean(\mathbf{x})}{std(\mathbf{x})}$

In [ ]:
# scaler
from sklearn.preprocessing import StandardScaler

In [ ]:
# Scale the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_clustering)
# show
print(scaled_data)
# create a DataFrame
scaled_data_df = pd.DataFrame(data=scaled_data, columns=df_clustering.columns)
scaled_data_df.head()

## Task #4: Apply k-means Clustering and Find the Optimal Number of Clusters using Elbow Method

To apply **k-means clustering**, we are going to use [`sklearn.cluster.KMeans`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html). 

Mind that this algorithm requires a number of clusters as a parameter `k`. Let's first try `k=3` and then find the optimal number of clusters.

In [ ]:
# k-means
from sklearn.cluster import KMeans

In [ ]:
# number of clusters 
k = 3
# create a model
kmeans = KMeans(n_clusters=k, init='k-means++')
# fit scaled data
kmeans.fit(scaled_data_df)

We can check the associated labels using `labels_` attribute.

In [ ]:
# associated cluster labels
labels = kmeans.labels_
print(f"k-means labels: {labels}")

To see the sum of squared distances of samples to their closest cluster center, use `inertia_` attribute:

In [ ]:
# sum of squared distances
inertia = kmeans.inertia_
print(f"Sum of squared distances: {inertia}")

This value can be used for finding the optimal number of clusters using the *Elbow method*. To do that let's vary the number of clusters `k`, apply k-means algorithm and store the corresponding intertia values. Then, let's plot the result and determine the best `k`.

**QUESTIONS**

* Find the optimal `k` using Elbow method

In [ ]:
# ANSWER
ks_df = pd.DataFrame(columns=["k", "WCSS"])
for k in range(1,11):
    kmeans = KMeans(n_clusters=k, init='k-means++')
    kmeans.fit(scaled_data_df)
    new_row = pd.DataFrame({"k": [k], "WCSS": [kmeans.inertia_]})
    ks_df = pd.concat([ks_df, new_row], ignore_index=True)

plt.axis([1, 10, 0, 600])
plt.xlabel("k")
plt.ylabel("WCSS")
plt.plot(ks_df["k"], ks_df["WCSS"], "-xb")

YOUR COMMENT: TO COMPLETE

**QUESTIONS**

* Add a column `cluster kmeans` to the `data_cleaned` DataFrame containing the labels of k-means clustering for `k=3`

In [ ]:
# ANSWER
data_cleaned_cluster = data_cleaned.join(pd.DataFrame({"cluster kmeans": labels}))
print(data_cleaned_cluster)

## Task #5: Cluster Evaluation using Silhouette Coefficient

To evaluate the quality of the clustering, we can use **Silhouette Coefficient**. The Silhouette Coefficient for a sample is given by $(b - a) / max(a, b)$ where `b` is the distance between a sample and the nearest cluster that the sample is not a part of, and `a` is the mean intra-cluster distance (i.e. the mean distance between a sample and all other samples in the same cluster). 

The silhouette score ranges from -1 to 1 and indicates how well each data point fits within its assigned cluster:

* Score near +1 means:
    - The data point is far from neighboring clusters
    - The point is well-matched to its cluster
    - Indicates very distinct, well-separated clustering
* Score near 0 means:
    - The data point is close to the decision boundary between clusters
    - The point could potentially belong to either cluster
    - Suggests overlapping or not well-defined clusters
* Score near -1 means:
    - The data point might be assigned to the wrong cluster
    - The point is closer to points in another cluster than its own
    - Indicates poor clustering or potential misassignments

We can use [`sklearn.metrics.silhouette_score`](https://scikit-learn.org/1.5/modules/generated/sklearn.metrics.silhouette_score.html) and [`sklearn.metrics.silhouette_samples`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_samples.html)

In [ ]:
# silhouette scores
from sklearn.metrics import silhouette_score, silhouette_samples

**QUESTIONS**

* For k-means clustering with `k=3`, calculate Silhouette score for each data point, for each cluster and average silhouette score 
* Display Silhouette score plot
* Comment

In [ ]:
# ANSWER
silhouette_avg_score = silhouette_score(scaled_data_df[features], labels)

In [ ]:
# ANSWER
sample_silhouette_values = silhouette_samples(scaled_data_df[features], labels)

In [ ]:
# ANSWER
means_lst = []
for label in range(3):
    means_lst.append(sample_silhouette_values[labels == label].mean())
print(means_lst)

plt.plot(range(3), means_lst, color="r")
plt.plot(range(3), [silhouette_avg_score for i in range(3)],  color="b")

As general guidelines, the plot can be interpreted by looking at:
* *the thickness of the clusters (number of points)*;
* check if any cluster has many negative values;
* check the consistency of the silhouette widths within clusters;
* the average value. Recall that in general, the following interpretation applies:
    - \> 0.7: Strong clustering structure
    - 0.5 - 0.7: Reasonable clustering structure
    - 0.25 - 0.5: Weak clustering structure
    - < 0.25: No substantial clustering structure


* Cluster Silhouette scores.

YOUR COMMENT: TO COMPLETE

## Task 6: Apply Hierarchical Clustering

**QUESTIONS**

* Apply Agglomerative clustering with different linkage options: complete, average, single. 

*Hint*: use [`sklearn.cluster.AgglomerativeClustering`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html)
* For each linkage, draw a dendrogram.
* Calculate the silhouette scores

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering

In [ ]:
# ANSWER
AggloCAvg = AgglomerativeClustering(linkage="average").fit(data_cleaned_cluster[features])
AggloCC = AgglomerativeClustering(linkage="complete").fit(data_cleaned_cluster[features])
AggloCS = AgglomerativeClustering(linkage="single").fit(data_cleaned_cluster[features])

In [ ]:
# ANSWER
# Plot dendrogram 
for method in ["average", "complete", "single"]:
    linkage_matrix = linkage(scaled_data_df, method=method)
    dendrogram(linkage_matrix, truncate_mode="level", p=5, no_labels=True)
    plt.title('Hierarchical Clustering Dendrogram ' + method) 
    plt.xlabel('Data point') 
    plt.ylabel('Distance') 
    plt.show()

## Task 7: Apply DBSCAN

**QUESTIONS**

* Apply [sklearn.cluster.DBSCAN](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html) algorithm
* Identify the best values for `eps` and `min_sanples` by varying the values within a range and by using Silhouette coefficient
* Apply DBSCAN with the best parameters found
* Print number of clusters and noise points

In [ ]:
# DBSCAN
from sklearn.cluster import DBSCAN

In [ ]:
# ANSWER

In [ ]:
# ANSWER

## Task 8: Cluster Characterisation using Apriori algorithm

Now, we would like to describe the obtained cluster. To do so, let's use frequent pattern mining and in particular **Apriori algorithm**. 

**QUESTIONS**
* First, convert numerical features to categorical (low, medium, high) based on quantiles. Add binary columns, e.g. `sepal length low`, `sepal length medium`, `sepal length high` depending on the values

In [ ]:
# ANSWER

To find association, we are going to use [mlxtend.frequent_patterns.apriori](https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/).

In [ ]:
# frequent patterns
from mlxtend.frequent_patterns import apriori

**QUESTIONS**

* Use apriori algorithm to find frequent patterns for each cluster
* Then among these itemsets, find those that are not frequent for other clusters

In [ ]:
# ANSWER